<section id='about-me'>
      <h1 style='font-size:3em;text-align:center'>Abo<i style='color:red'>u</i>t</h1><hr/>
      <p id='about-p' style='font-size:1.8em; letter-spacing: 2px; width: 80%; margin: 50px auto;'>

         This Angular project was fun to build and I can say that I actually learned a lot from building this 
         small application. The Application, is your basic todo app, it has all the functionality for CRUD 
         operations and it's no where near finished, but the basic methods for Creating, Reading, Updating
         and Deleting a todo is functional.

      </p>
</section>
