#main-app {
   width: 65%; 
   margin:0px auto; 
   /* overflow:hidden;  */
   font-family:'Open Sans Condensed'
}

nav {
   margin-top:20px;
   margin-bottom: 60px;
}
button {
   font-size: 2em;
   border: none;
   outline:none;
   background-color: white;
   cursor: pointer;
   font-family: Open Sans Condensed
}
button:focus,
button:hover {
   margin-bottom: 0px;
   border-bottom: 3px solid #0D47A1;
}

#about:focus,
#about:hover {
   margin-bottom: 0px;
   border-bottom: 3px solid red;
}

#about {
   float:right
}
